* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;
}

:root {
	--darker: #161616;
	--dark: #252525;
	--accent: #3d3d3d;
	--contrast: dodgerblue;
}

body {
	background-color: var(--darker);
	color: white;
	height: 100svh;
	width: 100%;
	scrollbar-width: thin;
}

li {
	list-style-type: none;
}

a {
	color: white;
	text-decoration: none;
}

th {
	text-align: start;
	background-color: var(--darker);
	border-top: 1px solid white;
}

th,
td {
	padding: 0.75rem;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
}

th:last-child,
td:last-child {
	border-right: none;
}

.content ul > li {
	list-style-type: disc;
	margin-left: 1.5rem;
}

.content ol > li {
	list-style-type: decimal;
	margin-left: 1.5rem;
}

blockquote {
	background: var(--accent);
	border-left: 10px solid var(--contrast);
	margin: 1.5em 10px;
	padding: 1em 10px;
	quotes: '\201C' '\201D' '\2018' '\2019';
	display: flex;
	align-items: center;
}

blockquote:before {
	color: var(--contrast);
	content: open-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}

blockquote p {
	display: inline;
	font-style: italic;
}

.content a {
	text-decoration: underline;
	color: var(--contrast);
}

code {
	font-family: monospace;
}

@media screen and (min-width: 768px) {
	*::-webkit-scrollbar {
		width: 0.5vw;
	}

	*::-webkit-scrollbar-track {
		background-color: transparent;
	}

	*::-webkit-scrollbar-thumb {
		background-color: #787878;
		border-radius: 10px;
	}

	*::-webkit-scrollbar-thumb:hover {
		background-color: #c0c0c0;
	}
}
